page-setup {
  
   .content{
        background-color: #E8B911 !important;
   }
 
    .home-icon {
        margin-bottom: 20%;
    }
    .home-icon i{
        font-size: 4em;
    }

    .but{
        margin-top: 40px;
    }
    .dot .col{
        font-size: 0.6em;
    }

    // .dot .col.active{
    //     border-bottom: 1px solid #000;
     
    // }
    .dot {
        margin: 30px 0;
    }
    
    .type h3{
        font-size: 2em;
    }
    .type p{
        font-size: 0.8em;
    }

    .or{
        text-align: center;

    }
    .up{
        height: 30px;
        width: 2px;
        background-color: #000;
        position: relative;
        left: 50%;
    }
 
 
}
