
.ios, .md {
  page-job-details{

    .scroll {
      height: 100%
    }
 
    ion-item-divider{
      font-size: 1.6em;
      color: #292929;
    } 

    ion-item.item{
      margin: 5px 0;
    }
      
    ion-badge.badge{
      background-color: $primary;
      padding: 5px;
      margin: 2px;
    }

    .job ion-icon{
      color: $primary
    }

    .banner{
      text-align: center;
      background-color: #fff;
      height: 45%;
      padding-top: 50px;
      color: $secondary;
    }
    .banner img{
      width: 20%;
    }
    .banner h2{
      margin: 5px 0;
    }
    .banner p{
      margin: 0;
    }

    h2{
      font-weight: bold;
      font-size: 1.4em !important;
    }

    .info p{
      font-weight: normal;
      font-size: 1em;
    }
  }
}