<ion-header>
  <ion-navbar color="dark"> 
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons [hidden]="page === 'Candidates'" end> 
      <button ion-button icon-only (click)="editProfile()">
        <ion-icon name="create"></ion-icon>
      </button>  
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="top" *ngIf="user">
    <img src="http://placehold.it/100x100" alt="">
    <h2>{{user.firstname}} {{user.lastname}} </h2>
    <p>{{user.title}}</p>  
  </div>
  <ion-list *ngIf="user" class="info" padding>
    <ion-item text-wrap>
      <i class="fa fa-user" item-start></i>
      <p>{{user.firstname}} {{user.lastname}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-calendar" item-start></i>
      <p>{{user.dob}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-flag" item-start></i>
      <p>{{user.nationality}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-transgender" item-start></i>
      <p>{{user.gender}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-phone" item-start></i>
      <p>{{user.phone}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-map-marker" item-start></i>
      <p>{{user.address}}</p>
    </ion-item>
  </ion-list>

  <div [hidden]="page === 'Employer'">
    <div padding class="but" [hidden]="applied">
      <button ion-button color="dark" block (click)="offerUserEmployment(user)">Offer Employement</button>
    </div>
    
    <div padding class="but" [hidden]="!applied">
      <button ion-button color="dark" block (click)="removeUserEmployment(user)">Withdraw Application</button>
    </div>
  </div>
 
</ion-content>
    