 
<ion-header >
  <ion-navbar color="dark">
    <ion-title>Personal Details</ion-title>
    <ion-buttons end>
        <button ion-button icon-left (click)="terms()">
          <ion-icon name="information-circle"></ion-icon>
          Ts & Cs
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content > 

  <ion-list >
    <ion-list-header class="personal-details" color="light">
      <h2>Personal Details</h2>
      <p *ngIf="data.type == 'Employer'">Let job hunters and candidates know whom you are</p>
      <p *ngIf="data.type == 'Employee'">Let recruiters and employers know whom you are</p>
      <i class="fa fa-2x fa-address-card-o" item-end></i>
    </ion-list-header>
 
    <ion-grid class="personal-details">
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-user" item-start></i>First name</ion-label>
            <ion-input [(ngModel)]="data.firstname"   type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-user" item-start></i>Last name</ion-label>
            <ion-input [(ngModel)]="data.lastname" type="text"></ion-input>
          </ion-item> 
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-6>
            <ion-item>
              <ion-label floating><i class="fa fa-transgender" item-start></i>Gender</ion-label>
              <ion-select [(ngModel)]="data.gender" multiple="false">
                <ion-option>Male</ion-option>
                <ion-option>Female</ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-users" item-start></i>Race</ion-label>
            <ion-select [(ngModel)]="data.race" multiple="false">
              <ion-option>African/Black</ion-option>
              <ion-option>Coloured</ion-option>
              <ion-option>Indian</ion-option>
              <ion-option>White</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
            <ion-item>
              <ion-label floating><i class="fa fa-settings" item-start></i>Type</ion-label>
              <ion-select [(ngModel)]="data.type" multiple="false">
                <ion-option>Employer</ion-option>
                <ion-option>Employee</ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item >
            <ion-label floating><i class="fa fa-flag" item-start></i>Nationality</ion-label>
            <ion-select [(ngModel)]="data.nationality" multiple="false">
              <ion-option *ngFor="let country of countries" >{{country.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-calendar" item-start></i>Date of birth</ion-label>
            <ion-datetime displayFormat="DD-MMM-YYYY" max="2001" [(ngModel)]="data.dob"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-address-card" item-start></i>ID/Passport no</ion-label>
            <ion-input [(ngModel)]="data.id_number" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating><i class="fa fa-phone" item-start></i>Cell number</ion-label>
            <ion-input [(ngModel)]="data.phone" min="6" type="tel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating><i class="fa fa-map-pin" item-start></i>Home address</ion-label>
          <ion-input [(ngModel)]="data.address" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-grid>
  </ion-list>

  <!-- <ion-list class="extra">
    <ion-list-header color="light">
      <h2>User Type</h2>
      <p>What are you here for, seeking jobs or offering jobs?</p>
      <i class="fa fa-2x fa-industry" item-end></i>
    </ion-list-header>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating><i class="fa fa-user-plus" item-start></i>Type</ion-label>
          <ion-select [(ngModel)]="data.type" multiple="false">
            <ion-option>Employer</ion-option>
            <ion-option>Employee</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12 *ngIf="data.type == 'Employee'">
        <ion-item>
          <ion-label floating><i class="fa fa-certificate" item-start></i>Title</ion-label>
          <ion-select [(ngModel)]="data.title" multiple="false">
            <ion-option *ngFor="let title of titles" >{{title.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list> -->

  <ion-list class="extra">
    <ion-list-header *ngIf="data.type == 'Employee'" color="light">
      <h2>Extra Details</h2>
      <p>Let recruiter and employers know your situation</p>
      <i class="fa fa-2x fa-wheelchair" item-end></i>
    </ion-list-header>
    
    <ion-item *ngIf="data.type == 'Employee'">
      <ion-label> <i class="fa fa-wheelchair" item-start></i> Disabled</ion-label>
      <ion-toggle color="dark" [(ngModel)]="data.disability"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="data.disability">
      <ion-input placeholder="State your disability" [(ngModel)]="data.disability_type" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="data.type == 'Employee'">
      <ion-label ><i class="fa fa-bars" item-start></i> Criminal Record</ion-label>
      <ion-toggle color="dark" [(ngModel)]="data.criminal"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="data.criminal">
      <ion-input placeholder="State your criminal offence" [(ngModel)]="data.criminal_type" type="text"></ion-input>
    </ion-item>

   
    <ion-item class="tc">
      <ion-label text-wrap>I have read, understood and agree with the terms and conditions.
       </ion-label>
      <ion-checkbox color="dark" [(ngModel)]="data.tc"></ion-checkbox>
    </ion-item>
  </ion-list>

    <button [disabled]="!data.tc" ion-button block color="dark" (click)="signup()"> Create Profile</button>
 
</ion-content>
