page-filter {
    h2{
        font-size: 1em;
    }
    .scroll-content{
        background-color: #fff;
    }

    ion-grid{
        text-align: center;
    }
    ion-grid .col{
        border: 2px solid $secondary;
        padding: 20px;
    }
    ion-grid img{
        width: 50px;
    }
    ion-label.label{
        margin: 20px 8px 11px 0 !important;
    }
    ion-range.range{
        padding-top: 0 !important;
    }

    .category{
        margin: 5px;
        border: 1px solid #ddd;
    }
}
