<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="top" *ngIf="profile">
    <img src="http://placehold.it/100x100" alt="">
    <h2>{{profile.firstname}} {{profile.lastname}} </h2>
    <p>{{profile.title}}</p> 
  </div>
  <ion-list padding class="category">
    <ion-item (click)="loadUserMoreDetails('Personal info')">
      <i class="fa fa-2x fa-user" item-start></i>
      <h2>Personal info</h2>
      <p>Learn more</p>
      <i class="fa fa-info-circle" item-end></i>
    </ion-item>
    
    <ion-item *ngIf="education" (click)="loadUserMoreDetails('Education')">
      <i class="fa fa-2x fa-graduation-cap" item-start></i>
      <h2>Educatiion</h2>
      <p>{{education.length > 1 ? education.length+' Qualifications': education.length+' Qualification'}} </p>
      <i class="fa fa-info-circle" item-end></i>
    </ion-item>

    <ion-item *ngIf="experience" (click)="loadUserMoreDetails('Experience')">
      <i class="fa fa-2x fa-briefcase" item-start></i>
      <h2>Experience</h2>
      <p>{{experience.length > 1 ? experience.length+' Positions' : experience.length+' Position'}} </p>
      <i class="fa fa-info-circle" item-end></i>
    </ion-item> 
  </ion-list> 

</ion-content>
    