page-profile {
    .top{
        text-align: center;
        background-color: $white;
        height: 43%;
    }
    
    .top p{
        padding: 0 !important;
        margin: 0 !important;
    }

    .top h2{
        margin: 10px 0 2px 0;
    }
    .top img{
        border: 4px solid $secondary;
        padding: 2px;
        width: 100px;
        height: 100px;
        margin: 40px 0 10px 0;
        border-radius: 100%;
    }

   .categories ion-col{
       background-color: $dark;
       color: $white;
       text-align: center;
       padding: 20px;
       border: 4px solid $white;
   }

   .categories ion-col p{
       font-size: 0.9em;
   }

   .list ion-item{
       background-color: $primary;
       color: $dark;
       margin: 4px 0 !important;
   }
   .list ion-item i{
        padding: 10px;
   }
  
   ion-list{
       padding-bottom: 0 !important;
       margin-bottom: 0 !important;
   }
 
   
}
