<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
    <ion-buttons end> 
      <button ion-button icon-only   (click)="applyEmployeeFilter()">
        <ion-icon name="funnel"></ion-icon>
      </button> 
      <button ion-button icon-only   (click)="postJob()">
        <ion-icon name="more"></ion-icon>
      </button> 
    </ion-buttons> 
  </ion-navbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search jobs..." [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="job" *ngFor="let job of jobs">
    <ion-list *ngIf="job" (click)="jobDetails(job)">
      <ion-item>
        <h2 class="title">{{job.title}}</h2>
        <ion-thumbnail item-start>
          <img src="assets/categories/{{job.category.toLowerCase()}}.svg">
        </ion-thumbnail>
        <p>
          <i class="fa fa-map-marker" item-start></i>
          {{job.address}}
        </p>
        <p text-wrap>
          <i class="fa fa-tag" item-start></i>
          {{job.type}} <!--|  {{job.salary == 'Neg' ? "Negotiable" : "R"+ job.salary}}  -->
        </p> 
      </ion-item>
    </ion-list> 
    <ion-list-header color="light">
      <div item-start> 
        <button clear color="dark" ion-button icon-left (click)="share(job)">
          <ion-icon name="share"></ion-icon>
          Share Job
        </button>
      </div>
      <div item-end class="right">
        <i class="fa fa-calendar" item-start></i>
        {{getMoment(job)}}
      </div> 
    </ion-list-header>
  </div>
  <div *ngIf="!jobs || jobs.length < 1" class="no-match">
    <ion-item text-wrap no-lines>
      <h2>No jobs found matching this category</h2>
    </ion-item>
  </div>
</ion-content>