page-jobs { 

    .job{
        margin: 10px;
    } 
    .job i{
        margin: 0 !important; 
    }
    .job p{
        font-size: 1em; 
    }
 
    ion-thumbnail img{
        padding: 10%;
    }

    ion-list{
        margin-bottom: 0 !important;
    }

    ion-label i{
        color: $secondary;
    }

    ion-list-header.item{
        background-color: $secondary;
        color: #fff;
    }
    
   ion-col i, ion-item i{
       margin-right: 0 !important;
   }


   .button{
        color: #fff !important;
   }

   .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        background:transparent !important;
        color: #fff !important;
    } 

}
