page-otp {
    .logo{
        margin: 30% 0 10% 0;
    }
    .item-label-floating .input-wrapper{
        border-bottom: 2px solid;
    }
    ion-item.item{
        background-color: transparent;
    }
    .item-inner, ion-label.label, i{
        color: #fff !important;
        font-weight: bold;
    } 
    p{
        color: #fff;
        text-align: center;
    }
    .button{
        color: #fff;
    }
}
