page-otp {
    @import '../../theme/form-style';
    .logo{
        margin: 30% 0 10% 0;
    } 
    p{
        color: #fff;
        text-align: center;
    }
    .button{
        color: #fff;
    }
}
