<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="profile.type == 'Employer'">
    <ion-item *ngFor="let user of appointments" tappable (click)="viewUserProfile(user)">
      <ion-avatar item-start>
        <img src="http://placehold.it/200x200">
      </ion-avatar>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.title}}</p>
      <p class="date"> 
       <i class="fa fa-calendar"></i> 
        {{getDateFormat(user.last_update)}} 
      </p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="!appointments || (appointments && appointments.length < 1)"> 
      <p> You do not have appointments</p>
    </ion-item>
  </ion-list> 

  <ion-list *ngIf="profile.type == 'Employee'">
    <ion-item *ngFor="let user of appointments" tappable (click)="viewUserProfile(user)">
      <ion-avatar item-start>
        <img src="http://placehold.it/200x200">
      </ion-avatar>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.title}}</p>
      <p class="date"> 
       <i class="fa fa-calendar"></i> 
        {{getDateFormat(user.last_update)}} 
      </p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="!appointments || (appointments && appointments.length < 1)"> 
      <p> You do not have appointments</p>
    </ion-item>
  </ion-list> 

</ion-content>
