<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candiates</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="applyEmployerFilter()">
        <ion-icon name="more"></ion-icon>
      </button> 
    </ion-buttons> 
  </ion-navbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search users..." [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ion-toolbar>
 
</ion-header>


<ion-content> 
  <ion-list padding>
    <ion-item class="user" *ngFor="let user of candidates" (click)="userDetails(user)">
      <ion-avatar item-start>
        <img src="http://placehold.it/100x100">
      </ion-avatar>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>
        <i class="fa fa-briefcase" item-start></i>
        {{user.title}}
      </p>
      <p>
        <i class="fa fa-venus-mars" item-start></i>
        {{user.gender}}
      </p> 
      <div item-end class="last-seen"> 
        {{getLastSeen(user)}}
      </div> 
    </ion-item>
    <ion-item text-wrap *ngIf="!candidates || (candidates && candidates.length < 1)">
      <p>No candidates matching that category.</p> 
    </ion-item>
  </ion-list>
  </ion-content>