page-candidates {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        background:transparent !important;
    } 
    
    ion-item.user{
        margin: 10px 0 !important;
    } 
    h2{
        padding-bottom: 8px;
    }
    .item i{
        margin: 4px 2px !important
    }
}
