page-candidates {
    
    p, p > i{
        font-size: .9em !important;
    }
    p > i{
        color: $secondary;
    }
    h2{
        padding-bottom: 8px;
        font-size: 1em !important;
        display: inline-block;
    }
    .user img{
        width: 45px;
        height: 45px;
        border: 2px solid $primary;
    }
    
    .main{
        margin: 0 5px !important;
    } 

    ion-item.user{
        margin: 5px 0 !important;
    }
 
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        background:transparent !important;
    } 
   
    .item i{
        margin: 4px 2px !important
    }
    
    .distance {
        font-size: 0.8em;
        float: right;
        margin: 0 4px !important;
        i{
            color: $secondary;
        }
    }
}
