page-user-type {
    .sub_header{
        text-align: center; 
    }
    .side{
        padding: 40px 0;
        text-align: center
    }
    .grid{
        padding: 0 !important;
    }
    .side i{
        font-size: 3em;
        padding: 40px 0;
    }
    .dull{
        opacity: 0.4;
    }

    .life{
       opacity: 1;
    }
 
    .continue{
        text-align: center;
        margin:20px;
    }

}
