page-post-jobs {
    .address {
        height: 80px;
    }

    ion-item.item-select{
        height: 70px;;
    }

    .but {
        padding-top: 0 !important;
        margin: 0 10px;
        // .button{
        //      background-color: $white !important;
        //      color: $secondary;
        // }
    }  
}
