// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//#009688
@import '../theme/style';

.con{
    background-color: rgba(36, 36, 36, 0.99);
    text-align: center;
    p{
        font-size: 1.1em;
        margin-bottom: 30px !important;
    }
    h2{
        font-size: 1.2em;
    }
    ion-item.item{
        background: none;
        color: #fff;
    }
    .item-inner{
        border-bottom: 1px solid  $white !important;
    }
    p{
        margin: 0 0 10px 0;
        padding: 0;
    }
    h2{
        margin: 18px 0 0 0 ;
    }
    
}

.extras{
    position: absolute;
    bottom: 10px;
}

@font-face{
    font-family: SansCaption;
    src: url('../assets/fonts/SansCaption.woff2') format('woff2');
}

*{
    font-family: SansCaption;
}
 
ion-content.content{
    background-color: $primary;
} 

.toolbar-background{
    background-color: $primary !important;
    color: #fff !important;
}
 
.profile{
    margin: 10% 0;
    img{

        border: 4px solid #fff;
        border-radius: 100%;
        width: 120px;
        margin: 50px 60px 0 60px;
    }
    h2{
        font-size: 1.2em;
        color: $dark;
    }
    p{
        font-size: 0.9em;
        color: $dark;
    }
}
