<ion-header>
  <ion-navbar color="dark">
    <ion-title *ngIf="category">{{category}}</ion-title>
    <ion-title *ngIf="!category">Details</ion-title>
    <ion-buttons end>
        <button ion-button (click)="dismiss()">
          Close
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- Personal Info -->
    <ion-list class="personal" *ngIf="user && category == 'Personal info'"> 

      <div class="top_icon">
        <i class="fa fa-4x fa-user"></i>
      </div>
      <div >  
        <ion-item-divider color="light"> 
          Bio
          <i class="fa fa-2xfa-user" item-end></i>
        </ion-item-divider>
        <ion-item text-wrap>
          <p>{{user.bio}}</p>
        </ion-item> 
        <!-- <ion-grid>
          <ion-row>
            <ion-col> -->
              <ion-item text-wrap>
                <i class="fa fa-user" item-start></i>
                <p>{{user.firstname}} {{user.lastname}}</p>
              </ion-item>
            <!-- </ion-col>
            <ion-col> -->
              <ion-item text-wrap>
                <i class="fa fa-calendar" item-start></i>
                <p>{{user.dob}}</p>
              </ion-item>
            <!-- </ion-col>
          </ion-row>
        </ion-grid> -->
        
        <!-- <ion-grid>
          <ion-row>
            <ion-col> -->
              <ion-item text-wrap>
                <i class="fa fa-flag" item-start></i>
                <p>{{user.nationality}}</p>
              </ion-item>
            <!-- </ion-col>
            <ion-col> -->
              <ion-item text-wrap>
                <i class="fa fa-transgender" item-start></i>
                <p>{{user.gender}}</p>
              </ion-item>
            <!-- </ion-col>
          </ion-row>
        </ion-grid> 
          -->
        <ion-item text-wrap>
          <i class="fa fa-map-marker" item-start></i>
          <p>{{user.address}}</p>
        </ion-item> 
      </div>

      <div class="social">
        <ion-item-divider color="light" *ngIf="user.facebook || user.twitter || user.linkedIn || user.whatsapp"> Social Media </ion-item-divider>
        <ion-grid>
          <ion-row> 
            <ion-col *ngIf="user.whatsapp">
              <ion-item text-wrap>
                <ion-icon name="logo-linkedin" item-start></ion-icon>
                {{user.linkedIn}}
              </ion-item>
            </ion-col>
            <ion-col *ngIf="user.facebook">
              <ion-item text-wrap>
                <ion-icon name="logo-facebook" item-start></ion-icon>
                {{user.facebook}}
              </ion-item>
            </ion-col>
            <ion-col *ngIf="user.twitter">
              <ion-item text-wrap>
                <ion-icon name="logo-twitter" item-start></ion-icon>
               {{user.twitter}}
              </ion-item>
            </ion-col>
            <ion-col *ngIf="user.whatsapp">
              <ion-item text-wrap>
                <ion-icon name="logo-whatsapp" item-start></ion-icon>
                {{user.whatsapp}}
              </ion-item>
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
        <!-- User Info End -->

    <!-- Education info -->
    <ion-list *ngIf="education && category == 'Education'">
      <div class="top_icon">
        <i class="fa fa-4x fa-graduation-cap"></i>
      </div>

      <!-- No education profile -->
      <div *ngIf="!education || (education && education.length < 1)" >
        <ion-item-divider >
          No education profile
        </ion-item-divider>
        <div class="no-details">
          <ion-item> 
            <p text-wrap>
             This user has not updated his education profile yet. Check later.
            </p>
          </ion-item>
        </div>
      </div> <!-- end no edu profile -->

      <div *ngFor="let edu of education">
        <ion-item-divider>
            {{edu.institution}} 
          <p item-end>
            <span class="bold">From: {{getShortDate(edu.date_started)}} - {{getEduShortDate(edu.date_completed) }}</span>
          </p> 
        </ion-item-divider>
        <div class="edu">
          <ion-item> 
            <p>
              <i class="fa fa-university" item-start></i>
              {{edu.qualification}}  
            </p>
          </ion-item>
          <ion-item> 
            <p>
              <i class="fa fa-certificate" item-start></i>
              {{edu.type}}
            </p> 
          </ion-item> 
        </div>
      </div>
    </ion-list>

    <!-- Experience -->
    <ion-list class="info" *ngIf="experience && category == 'Experience'">
      <div class="top_icon">
        <i class="fa fa-4x fa-briefcase"></i>
      </div>

      <div *ngIf="!experience || (experience && experience.length < 1)">
        <ion-item-divider>
          No work experience profile
        </ion-item-divider>
        <div class="no-details">
          <ion-item *ngIf="experience">
            <p text-wrap> This user has not updated his work experience, check back later </p>
          </ion-item>
        </div>
      </div>

      <div *ngFor="let exp of experience">
        <ion-item-divider>
          {{exp.employer}}
          <p item-end>
            <i class="fa fa-calendar" item-start></i>
            <span class="bold">{{getShortDate(exp.date_started)}} </span> -   <span class="bold">{{getShortDate(exp.date_end)}}</span>
          </p> 
        </ion-item-divider>
        <ion-item *ngIf="experience">
          <p>
            <i class="fa fa-folder" item-start></i>
            {{exp.position}}
          </p>
          <p class="roles" *ngFor="let role of getRoles(exp.roles)">
            <i class="fa fa-circle" item-start></i>
            {{role}}
          </p>
        </ion-item> 
      </div>
    </ion-list>


    <!-- Skills -->
    <ion-list class="info skills" *ngIf="skills && category == 'Skills'">
      <div class="top_icon">
        <i class="fa fa-4x fa-balance-scale"></i>
      </div>

      <div *ngIf=" !skills || (skills && skills.length < 1)">
        <ion-item-divider>
           No Skill profile found
        </ion-item-divider>
        <div class="no-details">
          <ion-item > 
            <p text-wrap>
              This user has not updated his skills yes, check  back later
            </p> 
          </ion-item> 
        </div>
      </div>
        
      <div *ngFor="let skill of skills">
        <ion-item-divider>
          {{skill.name}}
          <p item-end>
            <!-- <i class="fa fa-calendar" item-start></i> -->
            <span class="bold">{{skill.period > 1 ? skill.period + ' years' : skill.period + ' year'}} </span> 
          </p> 
        </ion-item-divider>
        <ion-item>
          <h2>
            <i class="fa fa-sticky-note" item-start></i>
            {{skill.category}}
          </h2>
          <p text-wrap>
            {{skill.description}}
          </p> 
        </ion-item> 
      </div> 
    </ion-list>
  
    </ion-content>
    