page-user-more-details {
    
    .content{
        background-color: #fff;
        p, i{
            color: $secondary;
            font-size: 1.2em;
        }
    } 

    .info .col {
        border: 1px solid $secondary;
        min-height: 72px;
        margin: 4px;
    }
    // .info ion-item{ 
    //     margin: 2px 0;
    // }
    // .skills ion-item{
    //     margin: 0;
    // }
    // .info .col{
    //     margin-right: 2px;
    // }
    // .info ion-label p {
    //     font-size: 1.2em;
    // }
    .profile{
        text-align: center;
        padding: 10%
    }

   .profile img{
        width: 100px;
        height: 100px;
        border: 2px solid #000;
        border-radius: 100%;
        margin: 20px 0;
   } 

   .top_icon{
       text-align: center;
       font-size: 2.3em;
       padding: 30px 0 40px 0;
       color: $secondary;
   }

   ion-grid.grid{
       padding: 0;
   }

   ion-item-divider.item{
       margin-top: 10px;
       background-color:$secondary;
       color: #fff;
       .label{
            font-size: 1.4em;
       }
   } 

   .no-details{
       margin: 0 10px !important;
       border: 1px solid $secondary;
   }

   .col{
       padding: 0 !important
   }

   .item-inner{
       margin-left: 5px !important;
   }
   
   ion-icon[item-start]{
       margin: 0 !important;
       font-size: 1em;
       padding-top: 5px;
   }

   .roles{
       margin-left: 20px;
   }

   .roles i{
       margin: 5px 0 !important;
       font-size: 0.8em;
   } 
}
