page-user-more-details {
    
    .content{
        background-color: #fff;
        color: $primary !important;
        .top i{
            color: $secondary;
            font-size: 4em;
        }
    } 


   .top_icon{
       text-align: center;
       font-size: 2.3em;
       padding: 30px 0 40px 0;
       color: $secondary;
   }
 
   ion-item-divider.item{
       margin-top: 10px;
       background-color:$secondary;
       color: #fff;
       .label{
            font-size: 1.4em;
       }
   } 

   .no-details{
       margin: 0 5px !important;
       border: 1px solid $primary;
   } 

    .personal{
        i{
            color: $secondary;
        }  
        i{
            font-size: 1.2em;
        }
        .item-inner{
            margin-left: 5px !important;
            border-bottom: .1px solid $primary !important;
        }
    }
   
//    ion-icon[item-start]{
//        margin: 0 !important;
//        font-size: 2em;
//        padding-top: 5px;
//    }

//    .roles{
//        margin-left: 20px;
//    }

//    .roles i{
//        margin: 5px 0 !important;
//        font-size: 0.8em;
//    } 
}
