<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="profile && profile.type == 'Employee'">Applied Jobs</ion-title>
    <ion-title *ngIf="profile && profile.type == 'Employer'">Posted Jobs</ion-title>
  </ion-navbar>
</ion-header>


<ion-content> 

  <ion-list *ngIf="profile && profile.type == 'Employee'">
    <div *ngIf="myJobs.length < 1" >
      <ion-item-divider >
        <h2> Applied Jobs</h2>
      </ion-item-divider>
      <ion-item text-wrap> 
        <h2>You haver not applied for any job yet.</h2> 
        <p>All jobs you have applied for will appear and managed here.</p>
      </ion-item>
    </div> 
    <div class="employee" *ngIf="myJobs.length > 0">
      <ion-item *ngFor="let job of myJobs" tappable (click)="jobDetails(job)">
        <ion-thumbnail item-start>
          <img src="assets/categories/{{job.category}}.svg">
        </ion-thumbnail> 
        <h2 *ngIf="job">{{job.title}}</h2>
        <p *ngIf="job">{{job.category}}</p>
        <p *ngIf="job">{{job.type }}</p>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
    </div>
  </ion-list> 

  
  <ion-list  *ngIf="profile && profile.type == 'Employer'">
    <div class="job" *ngFor="let job of postedJobs">
        <ion-list *ngIf="job" (click)="jobDetails(job)" tappable>
          <ion-item>
              <h2 *ngIf="job">{{job.title}}</h2>
              <p *ngIf="job">{{job.category}}</p>
              <p *ngIf="job">{{job.type }}</p>
              <ion-icon name="arrow-forward" item-end></ion-icon>
          </ion-item>
        </ion-list> 
        <ion-item-divider>
          <div item-start *ngIf="job && job.viewedUsers">
            <p><i class="fa fa-eye"></i> {{job.viewedUsers.length}} Views</p>
          </div>
          <div>
              <p><i class="fa fa-calendar"></i> {{job.date_created}}</p>
          </div>
          <div item-end *ngIf="job && job.appliedUsers">
            <p><i class="fa fa-archive"></i> {{job.appliedUsers.length}} Applied</p>
          </div>
        </ion-item-divider>
      </div>
  </ion-list>
</ion-content>
