page-my-jobs {
 
    .job{
        margin: 10px;
        ion-list{
            margin-bottom: 0 !important;
        } 
    
        ion-item-divider.item{
            background-color: $secondary;
            text-align: center;
            p{
                color: $white;
                font-size: .8em;
            }
        }
        i{
            margin: 0 !important; 
        }
    
    }  

    .employee{
        margin: 5px;
        h2{
            font-size: 1em !important;
            display: inline-block
        }
        ion-item{
            margin: 4px auto !important;
        }
        ion-thumbnail{
            width: 40px;
            height: 40px;
            img{
                padding: 10px;
            }
        }
    }
  

    

}
