page-my-jobs {
 
    .job{
        margin: 10px;
    } 
    .job i{
        margin: 0 !important; 
    }
    .job p{
        font-size: 1em; 
    }
  
    ion-list{
        margin-bottom: 0 !important;
    } 

    ion-item-divider.item{
        background-color: $secondary;
        text-align: center;
        p{
            color: $white;
        }
    }

    

}
